<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <!-- CSS -->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/about.css"/>
  <link rel="stylesheet" href="css/responsive.css"/>
</head>

<body>
  <!-- header -->
  <header class="header">
    <a href="/">
      <h1 class="logo">
        <img src="images/logo.png" alt="logo" >
      </h1>
    </a>
    <div class="navbar">
      <div class="navMenu" id="nav-menu">
        <ul class="nav-list">
          <li><a href="/" class="nav__link">Home</a></li>
          <li><a href="/services" class="nav__link">Services</a></li>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn nav__link">Departments</a>
            <div class="dropdown-content">
              <a href="#">Surgery</a>
              <a href="#">Pharmacy</a>
              <a href="#">Orthopedics</a>
              <a href="#">Radiology</a>
              <a href="#">Gyneacology</a>
              <a href="#">Optics </a>
              <a href="#">Dentistry </a>
              <a href="#">Dermatology </a>
            </div>
          </li>
          <li><a href="/doctor" class="nav__link">Doctors</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn nav__link">Blogs</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li><a href="/about" class="nav__link">About Us</a></li>
          </li>
          <li><a href="/contact" class="nav__link">Contacts Us</a></li>
        </ul>
      </div>
      <div class="login">
        <a href="/login">Login</a> 
      </div>
      <div class="hamburger" id="nav-toggle">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  <!-- head -->
  <div class="head-content"
    style="background: url(./images/background.jpg) no-repeat center center/cover; height:200px;width: 100%;">
    <div class="head">
      <a href="#" class="head-btn">About Us</a>
    </div>
  </div>
  <!-- intro -->
  <div class="section">
    <div class="title">
      <div class="section-title">A Few Word About Us</div>
      <div class="section-subtitle"> We are in extreme love with eco friendly system</div>
    </div>
    <div class="about-home">
      <div class="item">
        <div class="health">
          <h1>NET<span id="logo">CARE</span></h1>
          <r>+</r>
        </div> <br>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae culpa itaque cupiditate deserunt perferendis quo
          fugit illo pariatur laboriosam aliquid.
        </p>
      </div>
      <!--  -->
      <div class="item ">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae culpa itaque cupiditate deserunt perferendis quo
          fugit illo pariatur laboriosam aliquid.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
          quod eaque, amet culpa optio dolores a dolorum sed atque porro minima, accusantium placeat voluptatum.
          Adipisci et error sed minima alias?
        </p>
      </div>
      <!--  -->
      <div class="item">
        <div class="about-image">
          <img src="images/download.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="btn">
      <a href=""> CALL NOW</a>
    </div>
  </div>
  <!-- Milestone -->
  <div class="section" style="background-color: #e0d9d9;">
    <div class="col container">
      <div class="col-wrapper">
        <div>
          <img src="images/download (2).svg" alt="">
        </div>
        <div class="mile-container">
          <span class="timer1 milestone"></span>
          <p>
            Days a Year</p>
        </div>
      </div>
      <!--  -->
      <div class="col-wrapper">
        <div>
          <img src="images/download (3).svg" alt="">
        </div>
        <div class="mile-container">
          <span class="timer2 milestone"></span>
          <span class="letter" style=" margin-left:-6px;">K</span>
          <p>Patients a Year</p>
        </div>
      </div>
      <!--  -->
      <div class="col-wrapper">
        <div>
          <img src="images/download.svg" alt="">
        </div>
        <div class="mile-container">
          <span class="timer3 milestone"></span>
          <p>Amazing Doctors</p>
        </div>
      </div>
      <!--  -->
      <div class="col-wrapper">
        <div>
          <img src="images/download (4).svg" alt="">
        </div>
        <div class="mile-container">
          <span class="timer4 milestone"></span>
          <span class="letter" style=" margin-left:-6px;">K</span>
          <p>Lab Results</p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div style="margin-top: 25px;">
    <div class="banner" style="background:url(./images/pexels-vh-s-2440844.jpg) no-repeat center center/cover;">
      <div class="banner-content">
        <div class="banner-text">
          <p> Make an appointment with one of our professional Doctors</p>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing eli</p>
        </div>
        <div class="call">
          <a href="#" class="call-btn">CALL NOW </a>
        </div>
      </div>
    </div>
  </div>
  <!--  Section-->
  <div class="section">
    <div class="row serve">
      <div class="item">
        <img src="images/background1.jpg" width="100%" height="450px" alt="">
      </div>
      <div class="item">
        <div>
          <h1 style="text-align: center;"> Who we here to Serve the nation</h1>
          <br>
          <p>inappropriate behavior is often laughed off as “boys will be
            boys,” women face higher conduct standards especially in the
            workplace. That's why it's crucial that, as women, our behavior
            on the job is beyond reproach.
          </p>
          <p>inappropriate behavior is often laughed off as “boys will be
            boys,” women face higher conduct standards especially in the
            workplace. That's why it's crucial that, as women, our behavior
            on the job is beyond reproach. inappropriate behavior is often laughed off as “boys will be
            boys,” women face higher conduct standards especially in the
            workplace. That's why it's crucial that, as women, our behavior
            on the job is beyond reproach.
          </p>
        </div>
      </div>
    </div>
    <div class="row serve container">
      <div class="item">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla voluptates
          maxime incidunt natus deserunt labore accusantium. Non, perferendis.
          Ipsa aut facilis id amet mollitia nobis repellendus illum consequuntur,
          numquam explicabo, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla voluptates
          maxime incidunt natus deserunt labore accusantium. Non, perferendis.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla voluptates
          maxime incidunt natus deserunt labore accusantium. Non, perferendis. Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Nulla voluptates
          maxime incidunt natus deserunt labore accusantium. Non, perferendis, Non perferendis. Lorem ipsum, dolor sit
          amet consectetur.
        </p>
      </div>
      <div class="item wrapper">
        <video src="./images/Greensprings School.mp4" controls="controls" poster="./images/vid_image.png" width="100%"
          style="outline:none; object-fit:cover;">
      </div>
    </div>
  </div>
  <!-- partners -->
  <div>
    <div class="title">
      <div class="section-title">Our Partner</div>
      <div class="section-subtitle"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio a molestiae.</div>
    </div>
    <div class=" row partner-logos slider" style="max-width:85%; margin:auto;">
      <div class="slide"><a href="#"><img src="images/partners/adidas.png" alt="logo"></a></div>
      <div class="slide"><a href="#"><img src="images/partners/facebook.png" alt="logo"></a></div>
      <div class="slide"><a href="#"><img src="images/partners/google.png" alt="logo"></a></div>
      <div class="slide"><a href="#"><img src="images/partners/instagram.png" alt="logo"></a></div>
      <div class="slide"><a href="#"><img src="images/partners/nike.png" alt="logo"></a></div>
      <div class="slide"><a href="#"><img src="images/partners/twitter.png" alt="logo"></a></div>
      <div class="slide"><a href="#"><img src="images/partners/uber.png" alt="logo"></a></div>
      <div class="slide"><a href="#"><img src="images/partners/youtube.png" alt="logo"></a></div>
    </div>
  </div>
  <!-- Footer -->
  <footer>
    <div class="foot"
      style=" background: url(images/pexels-jonathan-meyer-668298\ -\ Copy.jpg) no-repeat center center/cover;">
      <div class="footer-content ">
        <div class="footer-row ">
          <div class="contact">
            <h1 class="logo">
              <img src="images/logo.png" alt="logo">
            </h1>
            <h6 class="contact-title">Contact Us</h6>
            <div style="color: green;font-size: 28px; margin-bottom:15px; ">
              <i class="fa fa-landmark"></i>
            </div>
            <p> 56/8, Santa bullevard, Rocky beach, San fransisco, Los angeles, USA.</p>
            <div style="color: green;font-size: 28px; margin-top:30px; ">
              <i class="fa fa-phone"></i>
            </div>
            <h3>+234-809-0686-548</h3>
            <h3>+234-815-5888-980</h3>
            <div class="contact-links">
              <a href="#" title="facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" title="twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" title="instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#" title="linkedin">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="footer-form">
            <script type="text/javascript">
              var submitted = false;
            </script>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display: none;"
              onload="if(submitted){
               alert('Your response has been successfully submitted')
              window.location='/'}">
            </iframe>
            <h6 class="contact-title"> Quick Contact</h6>
            <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSf9WLfJbhROIiLCgkvaruq8zs-4gTzMQ-HXeJVfYMHmPIaMfg/formResponse" 
              method="POST" 
              target="hidden_iframe"
              method="POST" 
              onsubmit="submitted=true">
              <div class="contact-form">
                <input type="text" name="entry.1994729641" placeholder="Name" class="contact-input">
                <input type="email" name="entry.1328250020" placeholder="Email"  class="contact-input">
                <input type="subject" name="entry.1874333904" placeholder="Subject" class="contact-input">
                <textarea rows="10" name="entry.1015071916" placeholder="Message"></textarea>
                <button type="submit" class="contact-submit-button">Submit </button>
              </div>
            </form>
          </div>

          <div class="opening-hours">
            <div class="opening">
              <h6 class="contact-title"> Opening Hours</h6>
              <ul class="opentimes">
                <li class="oog">
                  <span> Monday-Thursday</span>
                  <span>08.00 am - 10.00 pm</span>
                </li>
                <li class="oog">
                  <span>Friday</span>
                  <span>08.00 am - 10.00 pm</span>
                </li>
                <li class="oog">
                  <span> Saturday</span>
                  <span>08.00 am - 10.00 pm</span>
                </li>
                <li class="oog">
                  <span> Sunday </span>
                  <span>08.00 am - 10.00 pm</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h2 class="footbord ">
        <marquee>
          AT NETCARE LAGOS, WE ARE HERE TO SERVE YOU BETTER, JOIN US TODAY AND YOU"LL BE CONVINCED... AT NETCARE LAGOS,
          WE ARE HERE TO SERVE YOU BETTER, JOIN US TODAY AND YOU"LL BE CONVINCED...
        </marquee>
      </h2>
    </div>
  </footer>
  <!-- js Query filaase -->
  <script src="./js/jquery.min.js"></script>
  <!-- main js file -->
  <script src="./js/main.js"></script>
  <script src="./js/milestone.js"></script>
  <script src="./js/slick.min.js"></script>
  <script src="./js/slick.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="js/scrollreveal.js"></script>
</body>

</html>