<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netcare Hospital</title>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/doctor.css">
  <link rel="stylesheet" href="css/responsive.css">
  <style>
    .container {
      max-width: 100%;
      margin: auto 1rem;
      padding-bottom: 3rem;
    }
  </style>
</head>

<body>
  <!--  -->
  <header class="header">
    <a href="/">
      <h1 class="logo">
        <img src="images/logo.png" alt="logo" >
      </h1>
    </a>
    <div class="navbar">
      <div class="navMenu" id="nav-menu">
        <ul class="nav-list">
          <li><a href="/" class="nav__link">Home</a></li>
          <li><a href="/services" class="nav__link">Services</a></li>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn nav__link">Departments</a>
            <div class="dropdown-content">
              <a href="#">Surgery</a>
              <a href="#">Pharmacy</a>
              <a href="#">Orthopedics</a>
              <a href="#">Radiology</a>
              <a href="#">Gyneacology</a>
              <a href="#">Optics </a>
              <a href="#">Dentistry </a>
              <a href="#">Dermatology </a>
            </div>
          </li>
          <li><a href="/doctor" class="nav__link">Doctors</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn nav__link">Blogs</a>
            <div class="dropdown-content">
              <a href="#">Health</a>
              <a href="#">Lifestyle</a>
              <a href="#">Social</a>
            </div>
          </li>
          <li><a href="/about" class="nav__link">About Us</a></li>
          </li>
          <li><a href="/contact" class="nav__link">Contacts Us</a></li>
        </ul>
      </div>
      <div class="login">
        <a href="/login">Login</a>
      </div>
      <div class="hamburger" id="nav-toggle">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>

  <!--  -->
  <main>
    <!-- <head content -->
    <div class="head-content"
      style="background: url(./images/Doctor2.jpg) no-repeat center center/cover; height: 200px;width: 100%;">
      <div class="head">
        <a href="/doctor" class="head-btn">Our Doctors</a>
      </div>
    </div>
    <div style="background:#ecf0f5;">
      <div class="container">
        <div class="staff-content container">
          <div class="staff-img">
            <img src="./images/(2).jpg" alt="staff-img">
          </div>
          <div class="staff-info">
            <h1 class="staff-name">Jaji Moshood A</h1>
            <h3 class="staff-dept">Surgical Department</h3>
            <p class="staff-position"> Head, Surgeon</p>
            <div class="staff-quote">
              <q>I'll not make my last attempt until i succeed</q>
            </div>
          </div>
          <div class="staff-background">
            <h2>About Me</h2>
            <div class="staff-intro">
              <h3>About me</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidefugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi!
              </p>
            </div>
            <div class="staff-intro">
              <h3>What do you like most about practicing medicine and why?</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidequia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi!
              </p>
            </div>
            <div class="staff-intro">
              <h3>Whats your philosophy with medicine and treating patients?</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidemLorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quide quia vero eum quibusdam quae ex aspernatur eligendi!
              </p>
            </div>
            <div class="staff-intro">
              <h3>Whats your favourite thing about working with NETCARE?</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidemLorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quide quia vero eum quibusdam quae ex aspernatur eligendi!
              </p>
            </div>
            <div class="staff-intro">
              <h3>How has working with NETCARE contributed to your career development?</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidemLorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quidem quia vero eum quibusdam quae ex aspernatur eligendi Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ducimus minima
                erum laborum fugit, cum qui assumenda harum commodi. Nulla numquam quisquam
                quide quia vero eum quibusdam quae ex aspernatur eligendi!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--  -->
  <footer>
    <div class="foot"
      style=" background: url(images/pexels-jonathan-meyer-668298\ -\ Copy.jpg) no-repeat center center/cover;">
      <div class="footer-content ">
        <div class="footer-row ">
          <div class="contact">
            <h1 class="logo">
              <img src="images/logo.png" alt="logo">
            </h1>
            <h6 class="contact-title">Contact Us</h6>
            <div style="color: green;font-size: 28px; margin-bottom:15px; ">
              <i class="fa fa-landmark"></i>
            </div>
            <p> 56/8, Santa bullevard, Rocky beach, San fransisco, Los angeles, USA.</p>
            <div style="color: green;font-size: 28px; margin-top:30px; ">
              <i class="fa fa-phone"></i>
            </div>
            <h3>+234-809-0686-548</h3>
            <h3>+234-815-5888-980</h3>
            <div class="contact-links">
              <a href="#" title="facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" title="twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" title="instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#" title="linkedin">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="footer-form">
            <script type="text/javascript">
              var submitted = false;
            </script>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display: none;"
              onload="if(submitted){
               alert('Your response has been successfully submitted')
              window.location='/'}">
            </iframe>
            <h6 class="contact-title"> Quick Contact</h6>
            <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSf9WLfJbhROIiLCgkvaruq8zs-4gTzMQ-HXeJVfYMHmPIaMfg/formResponse" 
              method="POST" 
              target="hidden_iframe"
              method="POST" 
              onsubmit="submitted=true">
              <div class="contact-form">
                <input type="text" name="entry.1994729641" placeholder="Name" class="contact-input">
                <input type="email" name="entry.1328250020" placeholder="Email" name="Email" class="contact-input">
                <textarea rows="10" name="entry.1015071916" placeholder="Message"></textarea>
                <button type="submit" class="contact-submit-button">Submit </button>
              </div>
            </form>
          </div>
          <div class="opening-hours">
            <div class="opening">
              <h6 class="contact-title"> Opening Hours</h6>
              <ul class="opentimes">
                <li class="oog">
                  <span> Monday-Thursday</span>
                  <span>08.00 am - 10.00 pm</span>
                </li>
                <li class="oog">
                  <span>Friday</span>
                  <span>08.00 am - 10.00 pm</span>
                </li>
                <li class="oog">
                  <span> Saturday</span>
                  <span>08.00 am - 10.00 pm</span>
                </li>
                <li class="oog">
                  <span> Sunday </span>
                  <span>08.00 am - 10.00 pm</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h2 class="footbord ">
        <marquee>
          AT NETCARE LAGOS, WE ARE HERE TO SERVE YOU BETTER, JOIN US TODAY AND YOU"LL BE CONVINCED... AT NETCARE LAGOS,
          WE ARE HERE TO SERVE YOU BETTER, JOIN US TODAY AND YOU"LL BE CONVINCED...
        </marquee>
      </h2>
    </div>
  </footer>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>