* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
    background: rgb(233, 226, 226);
  }
  
  a,li{
    text-decoration: none;
    list-style: none;
  }
